body {
    font-family: sans-serif;
}
/* Estilo aplicado nos elementos pelo id=div-paragrafos */

#div-paragrafos{
    color:rgb(255, 2, 2);
    background-color: rgb(0, 0, 0);

}

.longo{
    background-color: chartreuse;

}

#p1{
    color: coral;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Estilo aplicado para a tag p */
p{
    font-family: 'Courier New', Courier, monospace;
}